---
import { SquareActivity, SquareTerminal } from "@lucide/astro";
import { getCollection } from "astro:content";

// Explicitly type the collection result
const quotesCollection = await getCollection("quotes");
console.log(quotesCollection[0].data);

type Quote = {
  text: string;
  source: string;
  url?: string;
};

// Access the data from the first item in the collection
const quotes = quotesCollection[0].data as Quote[];

// Function to get random items from an array without duplicates
function getRandomItems(array: Quote[], count: number) {
  const shuffled = [...array].sort(() => 0.5 - Math.random());
  return shuffled.slice(0, Math.min(count, array.length));
}

// Select 3 random quotes
const randomQuotes = getRandomItems(quotes, 3);
---

<div class="p-4 rounded-lg">
  <!-- Quote Section -->
  <div class="rounded-lg">
    <span class="flex items-center text-gray-800">
      <SquareActivity stroke-width={2} />
      <h2 class="text-xl font-bold pl-1">Between The Lines</h2>
    </span>
    <div class="p-2">
      {
        randomQuotes.map((quote, index) => (
          <div
            class={`mt-${index === 0 ? "4" : "6"} border-l-2 border-gray-200 pl-4`}
          >
            <blockquote>
              <a
                href={quote.url}
                target="_blank"
                class="hover:text-blue-800 hover:underline text-gray-600 italic leading-relaxed"
              >
                "{quote.text}"
              </a>
              <footer class="text-sm text-gray-500 mt-1">
                - {quote.source}
              </footer>
            </blockquote>
          </div>
        ))
      }
    </div>
  </div>
</div>
